body {
  // perspective: 700px;
  &.noClick {
    pointer-events: none;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/******* Start Memory_Game *******/
.autor {
  padding: 50px;
  text-align: center;
  background-color: #333;
  width: 50%;
  margin: 100px auto;
  h1 {
    color: #d7d7d7;
    font-size: 3em;
  }
  @media (max-width: 500px) {
    padding: 18px;
    h1 {
      font-size: 25px;
    }
  }
  p {
    color: #00e500;
  }
}
.start_game {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #007bffb3;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  span {
    color: #fff;
    background: #f44336;
    padding: 15px 30px;
    font-size: 40px;
    border-radius: 20px;
    cursor: pointer;
  }
}
.memory_game {
  width: 60%;
  margin: 100px auto;
  .info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #f0eeee;
    border: 2px solid #00f;
    margin: 10px 0;
    @media (max-width: 400px) {
      display: block;
      & > * {
        margin: 10px 0;
      }
    }
    .name {
      span {
        color: blue;
        font-weight: bold;
      }
    }
    .wrongTries {
      span {
        color: red;
        font-weight: bold;
      }
    }
  }
  .game_blocks {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0 auto;
    &.noClick {
      pointer-events: none;
    }
    .game_block {
      width: 150px;
      height: 150px;
      line-height: 150px;
      @media (max-width: 1200px) {
        width: 80px;
        height: 80px;
        line-height: 80px;
      }
      @media (max-width: 900px) {
        width: 50px;
        height: 50px;
        line-height: 50px;
      }
      @media (max-width: 300px) {
        width: 35px;
        height: 35px;
        line-height: 35px;
      }
      margin: 10px;
      cursor: pointer;
      transform-style: preserve-3d;
      transition: all 0.5s linear;
      position: relative;
      &.noClick {
        pointer-events: none;
      }
      &.isFlibbed,
      &.has_match {
        transform: rotateY(180deg);
      }
      .face {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .front {
        background-color: #333;
        color: #fff;
        text-align: center;
        z-index: 2;
        border: 2px solid #00f;
        backface-visibility: hidden;
        &:after {
          content: "?";
          font-size: 40px;
        }
      }
      .back {
        background-color: #607d8b;
        z-index: 1;
        transform: rotateY(180deg);
        backface-visibility: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .previousWiningPlayers {
    margin: 10px 0;
    background: #eee;
    padding: 10px;
    display: none;
    &.ok {
      display: block;
    }
    .player {
      margin: 10px 0;
      display: flex;
      justify-content: space-around;
      background: #333;
      padding: 5px;
      color: #fff;
      border-radius: 10px;
      & > span {
        color: #c0c0cd;
        span {
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }
}
.endGamePopup {
  position: fixed;
  display: flex;
  opacity: 0;
  transition: all 0.3s linear;
  justify-content: center;
  align-items: center;
  background: #0000009e;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  .popup {
    background-color: #fff;
    .header {
      color: #333;
      text-align: center;
      background-color: #eee;
      padding: 10px;
      font-size: 20px;
      box-shadow: 0 0 5px #333;
    }
    .message {
      color: red;
      font-size: 40px;
      text-align: center;
      font-weight: bold;
      padding: 40px;
    }
    .footer {
      text-align: center;
      background: #cfcfcf;
      padding: 10px;
    }
  }
}
/******* End Memory_Game  *******/
